/* WEB 전체 기준을 잡는다 */
* {
    /* 요소 외부 정렬 */
    margin: 0;
    /* 요소 내부 정렬 */
    padding: 0;
    /* 요소 BOX 기준 잡는 다 */
    box-sizing: border-box;
}

/* 모든 a태그 지정 */
a {
    /* 서식 밑줄 삭제 */
    text-decoration: none;
}

/* 모든 ul태그 지정 */
ul {
    /* 목록 리스트 Style 없음 처리 */
    list-style: none;
}

/* id선택자 wrap 지정 */
#wrap {
    /* 넓이 자동    높이 자동 */
    width: auto; height: auto;
}